/* edf6f9 */
/* df6c2d */
/* f5edd8 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.logo img{
  width: 90px;
}
.big-container {
  line-height: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.large {
  width: 100%;
  background-color: #edf6f9;
}
.nav-link {
  margin-top: 40px;
  margin-left: 30px;
  color: #9773b9;
}
.btn button {
  color: white;
  background-color: #ff594b;
  cursor: pointer;
  border: none;
  padding: 14px;
}
.hero-section {
  background-color: #edf6f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero h2 {
  font-size: 50px;
  width: 300px;
}
.hero p {
  line-height: 20px;
  font-size: 14px;
  width: 300px;
  margin-bottom: 10px;
}
.btn2 {
  line-height: 20px;
  color: white;
  background-color: #9773b9;
  cursor: pointer;
  border: none;
  width: 160px;
  height: 35px;
  border-radius: 25px;
}
.hero2 {
  width: 100%;
  height: 130vh;
  background-color: #f5edd8;
}
.clip {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head {
  padding: 20px;
  color: #9773b9;
  line-height: 30px;
  text-align: center;
}
.allflex-body {
  display: flex;
  margin-right: 150px;
  align-items: center;
  justify-content: space-around;
}
.head2pa {
  text-align: center;
  padding: 40px;
  line-height: 30px;
  color: #9773b9;
}
.about h2 {
  font-size: 35px;
  line-height: 50px;
  width: 400px;
}

.about p {
  line-height: 23px;
  font-size: 14px;
  width: 450px;
  margin-bottom: 10px;
}
.col1 h2 {
  width: 250px;
  margin-left: 220px;
  text-align: right;
}
.col1 p {
  width: 250px;
  margin-left: 220px;
  text-align: right;
  margin-bottom: 20px;
  line-height: 25px;
}
.col2 h2 {
  width: 200px;
  margin-left: 310px;
}
.col2 p {
  line-height: 25px;
  width: 250px;
  margin-left: 220px;
  text-align: right;
}
.second-col h2 {
  width: 200px;
  margin-left: 20px;
}
.second-col p {
  line-height: 25px;
  width: 250px;
  margin-left: 20px;
  text-align: left;
}
.clo3 h2 {
  margin-left: 20px;
}
.clo3 p {
  line-height: 25px;
  width: 250px;
  margin-left: 20px;
  text-align: left;
}
.hero3 {
  width: 100%;
  height: 40vh;
  background-color: #edf6f9;
}
.hero3 h1 {
  padding: 30px;
  text-align: center;
  color: #9773b9;
}
.hero3 p {
  margin-left: 400px;
  padding: 7px;
  width: 600px;
  text-align: center;
  line-height: 30px;
}
.btn3 {
  line-height: 20px;
  color: white;
  background-color: #9773b9;
  cursor: pointer;
  border: none;
  width: 160px;
  height: 35px;
  border-radius: 25px;
}
.hero4{
  display: none;
}
.move {
  margin-left: 600px;
}
.footer {
  width: 100%;
  height: 15vh;
  background-color: #f5edd8;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 430px) {
  .logo {
    margin-top: 8px;
  }
  .nav-link {
    line-height: 95px;
    margin-left: 10px;
  }
  .hero-png img {
    width: 400px;
  }
  .btn {
    display: none;
  }
   button{
   position: relative;
   text-align: center;
   left: 20%;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero h2 {
    font-size: 23px;
    text-align: center;
  }
  .hero p {
    text-align: center;
  }

  .clip {
    display: flex;
    flex-direction: column-reverse;
  }
  .allflex-body {
    display: flex;
    flex-direction: column;
    background-color: #f5edd8;
    width: 100%;
  }
  .about-png img {
    width: 400px;
  }
  .about h2 {
    margin-left: 30px;
    width: 360px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }
  .about p {
    width: 400px;
    text-align: center;
  }
  .hero3 p {
    width: 400px;
    margin-left: 13px;
  }
  .move{
    margin-left: 40px;
  }
  .col1 h2 {
    margin-left: 50px;
    text-align: center;
  }
  .col1 p {
    width: 300px;
    margin-left: 30px;
    text-align: center;
  }
  .col2 h2 {
    width: 250px;
    margin-left: 60px;
    text-align: center;
  }
  .col2 p {
    width: 340px;
    margin-left: 20px;
    text-align: center;
  }
  .program-image img {
    width: 300px;
  }
  .second-col{
    width: 300px;
    margin-left: 30px;
    text-align: center;
  }
  .second-col p {
    width: 300px;
    margin-left:-15px;
    text-align: center;
  }
  .clo3 h2{
    width: 300px;
    text-align: center;
  }
  .clo3 p {
    width: 300px;
    text-align: center;
  }
  .push2{
    margin-left: 30px;
  }
  .btn2{
    margin-bottom: 10px;
  }
  .footer{
    height: 40vh;
    background-color: #edf6f9;
  }
}
@media (max-width: 380px) {
  .logo {
    margin-top: 8px;
  }
  .nav-link {
    line-height: 95px;
    margin-left: 10px;
  }
  .hero-png img {
    width: 350px;
  }
  .btn {
    display: none;
  }
   button{
   position: relative;
   text-align: center;
   left: 20%;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero h2 {
    font-size: 23px;
    text-align: center;
  }
  .hero p {
    text-align: center;
  }

  .clip {
    display: flex;
    flex-direction: column-reverse;
  }
  .allflex-body {
    display: flex;
    flex-direction: column;
    background-color: #f5edd8;
    width: 100%;
  }
  .about-png img {
    width: 330px;
  }
  .about h2 {
    margin-left: 20px;
    width: 360px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }
  .about p {
    margin-left: 20px;
    width: 350px;
    text-align: center;
  }
  .hero3 p {
    width: 350px;
    margin-left: 13px;
  }
  .move{
    margin-left: 40px;
  }
  .col1 h2 {
    margin-left: 50px;
    text-align: center;
  }
  .col1 p {
    width: 300px;
    margin-left: 30px;
    text-align: center;
  }
  .col2 h2 {
    width: 250px;
    margin-left: 60px;
    text-align: center;
  }
  .col2 p {
    width: 340px;
    margin-left: 20px;
    text-align: center;
  }
  .program-image img {
    width: 300px;
  }
  .second-col{
    width: 300px;
    margin-left: 30px;
    text-align: center;
  }
  .second-col p {
    width: 300px;
    margin-left:-15px;
    text-align: center;
  }
  .clo3 h2{
    width: 300px;
    text-align: center;
  }
  .clo3 p {
    width: 300px;
    text-align: center;
  }
  .push2{
    margin-left: 30px;
  }
  .btn2{
    margin-bottom: 10px;
  }
  .footer{
    height: 40vh;
    background-color: #edf6f9;
  }
}
@media (max-width: 330px) {
  body{
    width: 100%;
  }
  .logo {
    margin-top: 8px;
  }
  .nav-link {
    line-height: 95px;
    margin-left: 5px;
  }
  .hero-png img {
    width: 290px;
  }
  .btn {
    display: none;
  }
   button{
   position: relative;
   text-align: center;
   left: 20%;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero h2 {
    font-size: 23px;
    text-align: center;
  }
  .hero p {
    text-align: center;
  }

  .clip {
    display: flex;
    flex-direction: column-reverse;
  }
  .allflex-body {
    display: flex;
    flex-direction: column;
    background-color: #f5edd8;
    width: 100%;
  }
  .about-png img {
    width: 250px;
  }
  .about h2 {
    margin-left: 20px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }
  .about p {
    margin-left: 20px;
    width: 280px;
    text-align: center;
  }
  .hero3 p {
    width: 300px;
    /* margin-left: 2px; */
  }
  .move{
    margin-left: 20px;
  }
  .col1 h2 {
    margin-left: 50px;
    text-align: center;
  }
  .col1 p {
    width: 290px;
    margin-left: 15px;
    text-align: center;
  }
  .col2 h2 {
    width: 250px;
    margin-left: 40px;
    text-align: center;
  }
  .col2 p {
    width: 300px;
    margin-left: 5px;
    text-align: center;
  }
  .program-image img {
    width: 300px;
  }
  .second-col{
    width: 300px;
    margin-left: 30px;
    text-align: center;
  }
  .second-col p {
    width: 300px;
    margin-left:-15px;
    text-align: center;
  }
  .clo3 h2{
    width: 300px;
    text-align: center;
  }
  .clo3 p {
    width: 300px;
    text-align: center;
  }
  .push2{
    margin-left: 30px;
  }
  .btn2{
    margin-bottom: 10px;
  }
  .footer{
    height: 40vh;
    background-color: #edf6f9;
  }
}
